body{
   margin: 5em;
   padding: 0;
}

.header{
   height: 30px;
}
.conteiner{
   width: 600px;
   height: 600px;
   margin: 0 auto;
   background: #cdaacd;
   display: flex;
   flex-direction: column;
   justify-content:flex-start;
   align-items: center;
   border-radius: 10px;
}

.title{
   background: #cd4242;
   border-radius: 10px;
   width: 600px;
   text-align: center;
   margin-bottom: 10 px;
}

#item{
   width: 450px;

}
.list{
   margin: 10px 0 10px 0;
   padding: 0%;
}
.tabla{
   width: 590px;
   overflow-y: auto;
   margin: 10px 0 10px 0;
   border: 2px solid #cd4242;
   table-layout: fixed;
}

#item_x{
   color: blue;
}
